<launch>
  <!--Hokuyo node-->
  <arg name="lidar_calibrate_time" default="true"/>
  <arg name="lidar_frame_id" default="laser"/>
  <arg name="lidar_port" default="/dev/ttyACM0"/>
  <arg name="lidar_intensity" default="false"/>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" output="screen"
      respawn="true">
    <param name="calibrate_time" value="$(arg lidar_calibrate_time)"/>
    <param name="frame_id" value="$(arg lidar_frame_id)"/>
    <param name="port" value="$(arg lidar_port)"/>
    <param name="intensity" value="$(arg lidar_intensity)"/>
  </node>

  <!--Laser assembler-->
  <arg name="assembler_fixed_frame" default="world"/>
  <arg name="lidar_scan_topic" default="/hokuyo/scan"/>
  <arg name="assembler_max_scans" default="400"/>
  <node name="laser_assembler" pkg="laser_assembler" type="laser_scan_assembler"
      output="screen" respawn="true">
    <remap from="scan" to="$(arg lidar_scan_topic)"/>
    <param name="max_scans" value="$(arg assembler_max_scans)"/>
    <param name="fixed_frame" value="$(arg assembler_fixed_frame)"/>
  </node>

  <!--Dynamixel node-->
  <node name="dynamixel" pkg="dynamixel" type="dynamixel_node" output="screen"
      respawn="true">
  </node>

  <!--Actuator node-->
<!--  <node name="dynamixel" pkg="dynamixel" type="dynamixel_node" output="screen"-->
<!--      respawn="true">-->
<!--  </node>-->
</launch>
