<launch>
  <!--Hokuyo node-->
  <arg name="lidar_calibrate_time" default="true"/>
  <arg name="lidar_frame_id" default="laser"/>
  <arg name="lidar_port" default="/dev/ttyACM0"/>
  <arg name="lidar_intensity" default="false"/>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" output="screen"
      respawn="true">
    <param name="calibrate_time" value="$(arg lidar_calibrate_time)"/>
    <param name="frame_id" value="$(arg lidar_frame_id)"/>
    <param name="port" value="$(arg lidar_port)"/>
    <param name="intensity" value="$(arg lidar_intensity)"/>
  </node>

  <!--Dynamixel node-->
  <arg name="dynamixel_serial_port_device_name" default="/dev/ttyUSB0"/>
  <arg name="dynamixel_baud_rate" default="1000000"/>
  <arg name="dynamixel_motor_id" default="1"/>
  <arg name="dynamixel_frame_id" default="dynamixel"/>
  <node name="dynamixel" pkg="dynamixel" type="dynamixel_node" output="screen"
      respawn="true">
    <param name="sensor/serial_port_device_name"
      value="$(arg dynamixel_serial_port_device_name)"/>
    <param name="sensor/serial_port_baud_rate"
      value="$(arg dynamixel_baud_rate)"/>
    <param name="sensor/motor_id" value="$(arg dynamixel_motor_id)"/>
    <param name="joint_state_publisher/frame_id"
      value="$(arg dynamixel_frame_id)"/>
    <param name="ros/retry_timeout" value="0.2"/>
  </node>

  <!--Actuator node-->
  <arg name="actuated_lidar_moving_speed" default="0.1"/>
  <arg name="actuated_lidar_min_angle" default="-1.57079632679"/>
  <arg name="actuated_lidar_max_angle" default="1.57079632679"/>
  <node name="actuated_lidar" pkg="actuated_lidar" type="actuated_lidar_node"
      output="screen" respawn="true">
    <param name="dynamixel/moving_speed"
      value="$(arg actuated_lidar_moving_speed)"/>
    <param name="dynamixel/min_angle" value="$(arg actuated_lidar_min_angle)"/>
    <param name="dynamixel/max_angle" value="$(arg actuated_lidar_max_angle)"/>
  </node>

  <!--Laser assembler-->
  <arg name="assembler_fixed_frame" default="$(arg dynamixel_frame_id)"/>
  <arg name="lidar_scan_topic" default="/scan"/>
  <!--The following is valid for 0.1 rad/s and [-pi/2, pi/2]-->
  <arg name="assembler_max_scans" default="1280"/>
  <arg name="assembler_tf_cache_time_secs" default="32"/>
  <node name="laser_assembler" pkg="laser_assembler" type="laser_scan_assembler"
      output="screen" respawn="true">
    <param name="max_scans" value="$(arg assembler_max_scans)"/>
    <param name="fixed_frame" value="$(arg assembler_fixed_frame)"/>
    <param name="tf_cache_time_secs"
      value="$(arg assembler_tf_cache_time_secs)"/>
  </node>

  <!--Static transform between Dynamixel and Hokuyo-->
    <node name="dynamixel2hokuyo" pkg="tf2_ros"
      type="static_transform_publisher"
      args="0.0 0.0 0.3 0.0 0.70710678118 0.0 -0.70710678118
      $(arg dynamixel_frame_id)_servo $(arg lidar_frame_id)"/>
</launch>
